body {
  width: 100%;
  margin: 50px;
}

h2 {
  margin-bottom: 50px;
  text-decoration: underline;
}

form label {
  margin-top: 30px;
  display: block;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  display: block;
  margin: 10px 0 20px 0;
  width: 255px;
  border-radius: 0;
  padding: 5px 10px;
} 

label {
  font-weight: bold;
}

.text {
  display: block;
  margin-top: 10px;
  width: 250px;
  line-height: 2em;
}

#validation:invalid {
  border: 1px solid red;
}

#button-label div {
  margin-top: 10px;
}

p {
  font-size: 70%;
  font-weight: normal;
  padding-left: 120px;
  margin-top: 2px;
  
}

button {
  padding: 13px 38px;
  margin-right: 20px;
  background-color: #CACFD2;
  font-size: 1.3em;
}

button:hover {  
  background-color: grey; 
}

.sprite {
  margin-right: 20px;
  display: inline-block;
  background-image: url("form-elements-sprite.png");
  background-repeat: no-repeat;
} 

#checkbox {
  width: 60px;
  height: 60px;
  background-size: 800%;
  background-position: -50px -75px;
}

#checkbox2 {
  width: 60px;
  height: 60px;
  background-size: 800%;
  background-position: -120px -75px;
}

#radio {
  width: 60px;
  height: 60px;
  background-size: 800%;
  background-position: -190px -75px;
}

#radio2 {
  width: 60px;
  height: 60px;
  background-size: 800%;
  background-position: -265px -75px;
}

/* input[type="checkbox"]:not(:checked) + label {
  background-color: red;
}

#input-pri:checked + label {
  background-color: green;
}

#input-pri:checked + label div {
  left: 50%;
} */